<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matriculate.dao.SchoolInfoMapper" >
  <resultMap id="BaseResultMap" type="com.matriculate.entity.SchoolInfo" >
    <constructor >
      <arg column="pcmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yxdm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="klmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lqs" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maxzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avgzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zvgmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.matriculate.entity.SchoolInfo" >
    insert into yxzdf2018 (pcmc, yxdm, yxmc, 
      klmc, lqs, maxzf, maxmc, 
      avgzf, zvgmc, minzf, 
      minmc)
    values (#{pcmc,jdbcType=VARCHAR}, #{yxdm,jdbcType=VARCHAR}, #{yxmc,jdbcType=VARCHAR}, 
      #{klmc,jdbcType=VARCHAR}, #{lqs,jdbcType=VARCHAR}, #{maxzf,jdbcType=VARCHAR}, #{maxmc,jdbcType=VARCHAR}, 
      #{avgzf,jdbcType=VARCHAR}, #{zvgmc,jdbcType=VARCHAR}, #{minzf,jdbcType=VARCHAR}, 
      #{minmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.matriculate.entity.SchoolInfo" >
    insert into yxzdf2018
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcmc != null" >
        pcmc,
      </if>
      <if test="yxdm != null" >
        yxdm,
      </if>
      <if test="yxmc != null" >
        yxmc,
      </if>
      <if test="klmc != null" >
        klmc,
      </if>
      <if test="lqs != null" >
        lqs,
      </if>
      <if test="maxzf != null" >
        maxzf,
      </if>
      <if test="maxmc != null" >
        maxmc,
      </if>
      <if test="avgzf != null" >
        avgzf,
      </if>
      <if test="zvgmc != null" >
        zvgmc,
      </if>
      <if test="minzf != null" >
        minzf,
      </if>
      <if test="minmc != null" >
        minmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcmc != null" >
        #{pcmc,jdbcType=VARCHAR},
      </if>
      <if test="yxdm != null" >
        #{yxdm,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null" >
        #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="klmc != null" >
        #{klmc,jdbcType=VARCHAR},
      </if>
      <if test="lqs != null" >
        #{lqs,jdbcType=VARCHAR},
      </if>
      <if test="maxzf != null" >
        #{maxzf,jdbcType=VARCHAR},
      </if>
      <if test="maxmc != null" >
        #{maxmc,jdbcType=VARCHAR},
      </if>
      <if test="avgzf != null" >
        #{avgzf,jdbcType=VARCHAR},
      </if>
      <if test="zvgmc != null" >
        #{zvgmc,jdbcType=VARCHAR},
      </if>
      <if test="minzf != null" >
        #{minzf,jdbcType=VARCHAR},
      </if>
      <if test="minmc != null" >
        #{minmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByRankAndSubject" resultMap="BaseResultMap">
    select
    *
    from yxzdf2018
    where minmc >= #{pm}-200
    AND klmc= #{klmc}
    ORDER BY minmc LIMIT 0,50;
  </select>

  <select id="listAll" resultMap="BaseResultMap">
    select *
    from yxzdf2018;
  </select>
</mapper>