<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matriculate.dao.SchoolMajorInfoMapper" >
  <resultMap id="BaseResultMap" type="com.matriculate.entity.SchoolMajorInfo" >
    <constructor >
      <arg column="pcmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yxdm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="klmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zymc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lqs" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maxzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avgzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avgmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minzf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="myMap" type="com.matriculate.entity.SchoolMajorInfo">
    <result property="pcmc" column="pcmc" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <result column="yxdm" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="yxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="klmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="zymc" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="lqs" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="maxzf" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="maxmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="avgzf" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="avgmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="minzf" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="minmc" jdbcType="VARCHAR" javaType="java.lang.String" />
  </resultMap>

  <insert id="insert" parameterType="com.matriculate.entity.SchoolMajorInfo" >
    insert into zyzdf2018 (pcmc, yxdm, yxmc, 
      klmc, zymc, lqs, maxzf, 
      maxmc, avgzf, avgmc, 
      minzf, minmc)
    values (#{pcmc,jdbcType=VARCHAR}, #{yxdm,jdbcType=VARCHAR}, #{yxmc,jdbcType=VARCHAR}, 
      #{klmc,jdbcType=VARCHAR}, #{zymc,jdbcType=VARCHAR}, #{lqs,jdbcType=VARCHAR}, #{maxzf,jdbcType=VARCHAR}, 
      #{maxmc,jdbcType=VARCHAR}, #{avgzf,jdbcType=VARCHAR}, #{avgmc,jdbcType=VARCHAR}, 
      #{minzf,jdbcType=VARCHAR}, #{minmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.matriculate.entity.SchoolMajorInfo" >
    insert into zyzdf2018
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcmc != null" >
        pcmc,
      </if>
      <if test="yxdm != null" >
        yxdm,
      </if>
      <if test="yxmc != null" >
        yxmc,
      </if>
      <if test="klmc != null" >
        klmc,
      </if>
      <if test="zymc != null" >
        zymc,
      </if>
      <if test="lqs != null" >
        lqs,
      </if>
      <if test="maxzf != null" >
        maxzf,
      </if>
      <if test="maxmc != null" >
        maxmc,
      </if>
      <if test="avgzf != null" >
        avgzf,
      </if>
      <if test="avgmc != null" >
        avgmc,
      </if>
      <if test="minzf != null" >
        minzf,
      </if>
      <if test="minmc != null" >
        minmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcmc != null" >
        #{pcmc,jdbcType=VARCHAR},
      </if>
      <if test="yxdm != null" >
        #{yxdm,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null" >
        #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="klmc != null" >
        #{klmc,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null" >
        #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="lqs != null" >
        #{lqs,jdbcType=VARCHAR},
      </if>
      <if test="maxzf != null" >
        #{maxzf,jdbcType=VARCHAR},
      </if>
      <if test="maxmc != null" >
        #{maxmc,jdbcType=VARCHAR},
      </if>
      <if test="avgzf != null" >
        #{avgzf,jdbcType=VARCHAR},
      </if>
      <if test="avgmc != null" >
        #{avgmc,jdbcType=VARCHAR},
      </if>
      <if test="minzf != null" >
        #{minzf,jdbcType=VARCHAR},
      </if>
      <if test="minmc != null" >
        #{minmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByRankAndMajor" resultMap="BaseResultMap">
    SELECT
    DISTINCT
     *
    FROM zyzdf2018
    WHERE zymc
    LIKE CONCAT('%',#{zymc},'%')
    AND minmc > #{pm};
  </select>

  <select id="selectByRankAndMajorAndCity" resultMap="BaseResultMap">
    SELECT
    DISTINCT a.*
    FROM zyzdf2018 AS a, yxinfo AS b
    WHERE a.zymc LIKE CONCAT('%',#{major},'%')
    AND a.minmc > #{pm}
    AND a.yxmc = b.yxmc
    AND b.szd LIKE CONCAT('%',#{city},'%')
  </select>


</mapper>